@model satinalma.Models.product
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h1>Details</h1>

<div class="container py-5">
    <div class="row">
        <!-- Ürün Görseli -->
        <div class="col-md-6">
            <img src="/ProductImage/@Model.Picture_Image" alt="Ürün Görseli" class="img-fluid">
        </div>

        <!-- Ürün Bilgileri -->
        <div class="col-md-6">
            <h2>Ürün Adı</h2>
            <p class="text-muted">Kategori: @Model.category_id</p>
            <h3 class="text-success">Fiyat:@Model.price</h3>

            <p>
                @Model.description
            </p>

            <ul>
                <li>Ürün Özelliği 1</li>
                <li>Ürün Özelliği 2</li>
                <li>Ürün Özelliği 3</li>
            </ul>

            <div class="d-flex align-items-center">
                <button class="btn btn-primary me-3">Sepete Ekle</button>
                <button class="btn btn-outline-secondary">Favorilere Ekle</button>
            </div>
        </div>
    </div>

    <!-- Ürün Açıklaması ve Yorumlar -->
    <div class="row mt-5">
        <div class="col-12">
            <h4>Ürün Açıklaması</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget ante mauris. Vestibulum non felis
                viverra, lobortis elit sit amet, sollicitudin mi. In ac purus eu ipsum sollicitudin interdum.
            </p>
        </div>
    </div>

    @Html.Partial("_yorumlarPartialView",Model)
</div>