@model satinalma.Models.product
<div class="row mt-4">
    <div class="col-12">
        <h4>Yorumlar</h4>

        <!-- Yorumlar -->
        <div id="CommentList">
            @Html.Partial("_yorumlistePartial",Model.Comments)

        </div>

        <!-- Yorum Yapma -->
        <form id="formyorum" action="Add" method="post">
            <div class="mb-3">
                <input type="hidden" id="productid" name="ProductId" value="@Model.product_id"/>
                <label for="yorum" class="form-label"><strong>Adınız Soyadınız</strong></label>
                <input type="text" class="form-control" id="adi" name="UserName"/>
                <br />
                <label for="yorum" class="form-label">Yorum Yapın</label>
                <textarea class="form-control" name="Content" id="yorum" rows="3" placeholder="Yorumunuzu yazın..."></textarea>
            </div>
            <button type="button" id="yorumbtn" class="btn btn-primary">Gönder</button>
        </form>
    </div>
</div>